// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#user_index_main {
	width:100vw;
	height:100vh;
	background-color: #f39c12;
	font-family: 'Open Sans', sans-serif;
}

#top_nav_title h1 {
	color:white;
	font-size:55px;
	width:346px;
	margin:0 auto;
	padding-top:10px;
	// border:1px solid white;
	margin-bottom:40px;
}

#top_nav_title p {
	color:white;
	width:900px;
	margin:0 auto;
}

#project_pitch_holder h2 {
	margin-top:20px;
	color:white;
	font-size:30px;
}

#project_pitch_holder img {
	width:30px;
	margin-right:10px;
}

#user_list h3 {
	color:white;
	font-size:18px;
	margin-bottom:20px;
}

#user_list {
	width:900px;
	height:320px;
	border:1px solid black;
	margin:0 auto;
	margin-top:40px;
}

#project_pitch_holder {
	width:900px;
	height:200px;
	margin: 0 auto;
	border-top:2px solid white;
	margin-top:50px;
}