// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#user_index_main {
	width:100vw;
	height:1200px;
	background-color: #f39c12;
	font-family: 'Open Sans', sans-serif;
}

#top_nav_title h1 {
	color:white;
	font-size:55px;
	width:346px;
	margin:0 auto;
	padding-top:10px;
	// border:1px solid white;
	margin-bottom:40px;
}

#top_nav_title p {
	color:white;
	width:900px;
	margin:0 auto;
	letter-spacing:1px;
	line-height:20px;
}

.index_h2_subsection {
	margin-top:20px;
	margin-bottom:10px;
	color:white;
	font-size:30px;

}

.index_h2_subsection img {
	width:30px;
	margin-right: 10px;
}



#user_list {
	width:900px;
	height:320px;
	border-top:2px solid white;
	margin:0 auto;
	margin-top:40px;
}


#project_pitch_holder {
	width:900px;
	height:200px;
	margin: 0 auto;
	border-top:2px solid white;
	margin-top:50px;
}

.user_info_box_holder {
	width:200px;
	height:40px;
	border:1px solid black;
}

#post_newsfeed_holder {
	width:900px;
	height:80px;
	border-top:2px solid white;
	margin:0 auto;
}

#post_newsfeed {
	width:100%;
	min-height:300px;
	border:1px solid black;
	background-color:rgba(255,255,255,0.5);
	padding-top:40px;
}

#post_newfeed p {
	color:white;
	font-size:14px;
}



